/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    padding-top:25px;
    font-family:"Open Sans", "Helvetica", "Arial", sans; font-weight:300;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    line-height: 60px;
    text-align:center; font-weight:600;
    background-color: #f5f5f5;
}



.hero-unit {
    height:485px;
    box-shadow:0px 1px 1px #e0e0e0;
    background-position: top center;
    background-repeat:no-repeat;
    background-color:#eceeee;
}
.hero-unit.hero-unit-course { background-image:url(../img/hero-unit-course.png); }
.hero-unit.hero-unit-readit { background-image:url(../img/hero-unit-readit.png); }
.hero-unit.hero-unit-clean { background-image:url(../img/hero-unit-clean.png); }


.targets-list, .account {
    margin-top:50px; margin-bottom:50px;
}

.targets-list header, .account header {
    margin-bottom:30px;
}

.targets-list header h1, .account header h1 {
    display: inline; font-size:24px;
}
.targets-list header a, .account header a {
    font-size:20px; color:#9d9d9d;
}

.courses-list .course-name { font-size:18px; }
.targets-list .overseer { display:inline-block; }
.targets-list .bid { margin-left:15px; }
.targets-list .overseer, .targets-list .bid { top: -5px; position: relative; }

.targets-list .progress { margin-bottom:6px; top: 4px; position: relative; }
.targets-list .control-block { text-align:right; }

.readit-list .time-left { display:inline-block; }
.readit-list .deadline { display:inline-block; }
.readit-list .progress { margin:0px 10px; display:inline-block; width:100px; }


.pledge {
    margin-bottom:15px;
}

.new-target-modal { font-size:18px; }
.new-target-modal input { width:auto; }
.new-target-modal-form > div { margin-bottom:20px; }
.new-target-modal label { font-weight:300; }
.new-target-modal .modal-body { padding-bottom:0; }

#newCourseCommitment #name { width:454px; }
#newCourseCommitment #charity_type { width:279px; }
#newCourseCommitment #overseer { width:333px; }
#newCourseCommitment #user { width:490px; }

#newReaditCommitment #url { width:100%; }
#newReaditCommitment #charity_type { width:298px; }
#newReaditCommitment #overseer { width:346px; }
#newReaditCommitment #bid { width:52px; }
#newReaditCommitment #name span { font-style:italic; font-size:14px; color:#222222; }

select {
    margin: 0;
    border: 0;
    width: 130%;
    height: 33px;
    padding: 8px;
    color: #666;
    display: block;
    position: relative;
    text-shadow: 0 1px white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    text-indent: .01px;
    text-overflow: '';
    background-color:transparent;
    background-image:url(../img/select-arrows.png) !important;
    background-position:100% 50%;
    background-repeat:no-repeat;
}
/*select:after {*/
    /*position:absolute; z-index:1;*/
    /*top:50%; right:10px; margin-top:-5px;*/
    /*background:url(../img/select-arrows.png) top left no-repeat;*/
    /*width:8px; height:10px;*/
    /*content:'';*/
/*}*/

i.kick-coin {
    width:24px; height:24px;
    background:url(../img/fist-24.png) top left no-repeat;
    display: inline-block;
    margin-bottom: -9px;
    margin-right: 0px;
    opacity: 0.6;
    top: -3px;
    position: relative;
}
h1 i.kick-coin {
    top:-6px;
}

.account dl { margin-top:0; }
.account dt { width:80px; margin-bottom:10px; }
.account dd { margin-left:90px; margin-bottom:10px; }
